.box-destaque {
	width: 100%;

	.titulo, .titulo .super, .subtitulo {
		font-family: $font-titulo;
		color: #ffffff;
	}

	.titulo, .titulo .super {
		font-size: 4.6875rem;
		line-height: 4.75rem;
	}

	.titulo {
		display: block;
		font-weight: $semi-bold;

		&.medium {
			font-weight: $medium;
		}

		.super {
			position: relative;
			top: -5px;
			margin-right: 5px;
			font-weight: $semi-bold;
		}

		&.tit-single {
			padding-bottom: 30vh;
		}
	}

	.subtitulo {
		font-size: 3.25rem;
		line-height: 3.25rem;
		margin-top: 10px;
		display: block;
		font-weight: $light;
		max-width: 900px;
	}

	a {
		margin-top: 55px;
	}
}

.clientes {
	@include clear;

	.item-cliente {
		//width: 20%;
		padding: 0 5px;
		//float: left;
		text-align: center;
		@include box-sizing;

		img {
			width: 145px;
			margin-bottom: 60px;
		}
	}
}

.depoimentos {
	width: 80%;
	max-width: 570px;
	margin: 200px auto 0;
	@include clear;

	.item-depoimento {
		//width: 100%;
		text-align: center;
		margin-bottom: 60px;
		@include box-sizing;

		span {
			display: block;

			&.titulo {
				font-weight: $regular;
				font-size: 2.25rem;
				line-height: 2.75rem;
			}

			&.autor {
				max-width: 420px;
				margin: 40px auto 0;
				font-size: 1.5rem;
				line-height: 2rem;
			}
		}
	}
}



.owl-carousel {
	.owl-nav {
		button {
			border: 2px solid rgba($cor-txt-claro,.75);
			background-color: transparent;
			margin: 0 18px;

			i {
				font-size: 27px;
				padding: 4.5px 9.5px;
				color: rgba($cor-txt-claro,.75);
			}

			&.owl-next {

			}

			&.owl-prev {

			}

			&.disabled {
				opacity: 0;
			}
		}
	}
}

#demonstracao {
	display: none;
	margin-top: 30px;

	.scrollbar {
		overflow-y: hidden;
		max-height: calc(100vh - 220px); 
	}

	h2, p, input, textarea {
		color: #ffffff;
	}

	input, textarea {
		border-color: #ffffff;
		
		@include placeholder{
			color: #ffffff;
		}
	}

	.scrollbar-dynamic > .scroll-element .scroll-bar {
		background-color: #ffffff;
	}

	.scrollbar-dynamic > .scroll-element .scroll-element_size {
		background: transparent;
	}
}

.fancybox-container {

	.fancybox-button {
		width: 70px;
		height: 70px;

		svg {
			path {
				color: #ffffff;
			}
		}

		&:hover {
			background: #ffffff;

			svg {
				path {
					color: $cor1;
				}
			}
		}
	}

	.fancybox-bg {
		background: $cor1;
	}

	&.fancybox-is-open {
		.fancybox-bg {
			opacity: 1;
		}
	}

	.fancybox-content {
		background: transparent;
		overflow: hidden;
		vertical-align: top;
		max-height: 90vh;
	}
}

.box-section {
	.ico-contato {
		border: none;
		max-width: 100%;

		&.conteudo {
			padding: 0;
			margin: 0 auto;
			max-width: 750px;
			width: 100%;
		}

		.item {
			float: left;
			width: 33.333%;
			max-width: 250px;
			//max-width: 100%;
			text-align: center;

			span {
				font-size: 1rem;
				line-height: 1.25rem;
				text-align: left;
				display: inline-block;
				@include clear;
			}

			i {
				display: block;
				font-size: 3rem;
				margin-bottom: 15px;
				
			}
		}
	}

	&.video-slide {
		@media all and (max-width: 1440px){
			margin-top: -2px;
		}

		&.bg-mascara:before {
			z-index: 1;
		}

		height: auto;
		min-height: 0px;

		.container {
			position: absolute;
			height: 100%;
			width: 100%;
			max-width: 100%;
			top: 0;
			left: 0;
			padding: 0;
			z-index: 2;

			.sub-cont {
				max-width: $width; 
				width: 100%;
				padding: 0 $padding-container;
				height: 100%;
				margin: 0 auto;
				@include box-sizing;
			}
		}

		video {
			display: block;
			height: auto;
			width: 100%;
			position: relative;
			z-index: 0;
		}
	}
}