$width: 1320px;
$padding-section: 40px;
$padding-container: 80px;
$padding-col: 25px;

$font-size: 1rem;
$line-height: 1.75rem;

$cor-txt: #84888C;
$cor-txt-claro: #666666;

/* CORES */
$cor1: #041F8F; // azul
$cor2: #0285C9; // azul botões
$cor3: #303D63; // azul medio
$cor4: #EC1F31; // vermelho

$verde-limao: #8cc63f; //verde-limão
$cinza: #DCDCDC;
$cinza-claro: #999999;
$laranja: #CB521C;
$lilas: #8D1C7B;
$verde-claro: #5EA47E;
$verde: #007f3d;
$amarelo: #f5db00;
$azul: #3e4095;
$vermelho: #801700;
$azul-celeste: #35cbc9;
$rosa: #ed7db5;
$dourado: #a4925f;
$bege: #a4925f;
$bordo: #790000;
$marrom: #99552b;
$roxo: #ffffff;
$pink: #f4364c;

$bgescuro: #353535;
$bgclaro: #fbfbfb;


$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 700;
$bold: 700;
$extra-bold: 900; 

$hSlide: 400px;